FIREBASE_CREDENTIALS_PATH="./service-account.example.json"
FIREBASE_PROJECT_ID="dev-project-id"
USE_EMULATORS="true"
FIRESTORE_EMULATOR_HOST="localhost:8080"

HOST="localhost"
PORT="8000"

GEMINI_API_KEY="your-gemini-api-key"